<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include("./layout/nav.ejs"); -%>
        <div class="container">
            <h1>Online Store</h1>
            <form id="purchase-form" action="/submit" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="form-group">
                    <label for="province">Province:</label>
                    <input type="text" id="province" name="province">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="HashBrown">HashBrown($5):</label>
                    <input type="number" id="HashBrown" name="HashBrown" value="0" min="0">
                </div>
                <div class="form-group">
                    <label for="Coffee">Coffee($2):</label>
                    <input type="number" id="Coffee" name="Coffee" value="0" min="0">
                </div>
                <div class="form-group">
                    <label for="Bagel">Bagel($3):</label>
                    <input type="number" id="Bagel" name="Bagel" value="0" min="0">
                </div>
                <p></p>
                <button type="submit">Submit</button>
            </form>

        </div>
</body>

</html>