<nav class="top_menu">
    <div>
        <div class="navLink">
            <a href="/">Order Form</a>
        </div>
        <div class="navLink">
            <a href="/allorders">All Orders</a>
        </div>
    </div>
</nav>